*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.card {
background-color: rgb(0, 195, 255);
}

.gallery-item {
    width: 250px;
}

.gallery-item img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

.gallery-item img:hover{
    opacity: 0.8;
}

.img-title {
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
    font-size: 15px;
}